input {
    height: 1.5rem;
    font-size: 1rem;
}

button {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.add-item {
    border: none;
    padding: 10px 20px;

    font-size: 1.5rem;

    
}
.control-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button {
    border: none;


    &.green {
        background-color: rgb(14, 150, 14);
        color: #fff;
    
        &:hover {
            background-color: rgb(14, 114, 14);
        }
    }
    &.red {
        background-color: red;
        color: #fff;
    
        &:hover {
            background-color: rgb(199, 17, 17);
        }
    }
    &.orange {
        background-color: orange;
        color: #fff;
    
        &:hover {
            background-color: rgb(238, 157, 8);
        }
    }
}