.modal {
    display: flex;

    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.1);



    .content {
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        max-width: 600px;
        min-width: 260px;
        position: relative;

        .title {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;


            span {
                margin-right: 10px;
                font-size: 1.5rem;
            }
        }

        .inputs {
            display: flex;
            flex-direction: column;

            .title-input {
                margin-bottom: 10px;
                font-size: 1rem;
            }

            .add-item-inputs {
                display: flex;
                justify-content: space-between;

                .add-input {
                    margin-left: 10px;
                }
            }

            .items {
                .item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid lightgray;
                    padding: 4px 0;

                    &:last-child {
                        border-bottom: none;
                    }

                    span {
                        margin-right: 10px;
                        align-items: flex-start;
                    }

                    input.checkbox {
                        margin-left: auto;
                    }

                    .remove {
                        margin-left: 10px;
                    }
                }
            }
        }

        .heading {
            margin-bottom: 5px;

            &:not(:first-child) {
                margin-top: 10px;
                
            }
        }

        .buttons {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }

        .submit {
            width: 100%;
            height: 2rem;
            font-size: 1rem;
            margin-bottom: 10px;
        }
        
    }
}